@{
  Layout = "_Layout";
}

@model Viewer.Models.Trait;

<div class='jumbotron'>
  <h2>Trait Details</h2>
</div>

<div class="">
  <div class='entryLabel'>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  </div>
        @Html.LabelFor(model => model.Name)
        @Html.ValueFor(model=>model.Name)
  <table>
      <tr>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Might)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Spryness)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Judgement)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Echo)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Magnetism)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Fortune)</td>
      </tr>
      <tr>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Might)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Spryness)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Judgement)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Echo)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Magnetism)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Fortune)</td>
      </tr>
  </table>
  <div class=' entry'>
    <hr />
    @if(@Model.Characters.Count == 0)
    {
      <p>This Trait is not used yet :(</p>
    }
    else
    {
      <h4>Characters with this trait:</h4>
      <ul>
        @foreach(var join in Model.Characters)
        {
          <li>@Html.ActionLink($"{join.Character.Name}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Might}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Spryness}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Judgement}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Echo}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Magnetism}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Fortune}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Bio}", "Details", "Characters", new {id=join.CharacterId})</li>
          <li>@Html.ActionLink($"{join.Character.Name}", "Details", "Characters", new {id=join.CharacterId})</li>
        }
      </ul>
    }
  </div>
</div>
  @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      Trait Links
    </div>

    <div class='property'>
      <p>@Html.ActionLink("Back to Traits", "Index")</p>
      <p>@Html.ActionLink("Edit Trait", "Edit", new { id = Model.TraitId })</p>
      <p>@Html.ActionLink("Delete Trait", "Delete", new { id = Model.TraitId })</p>
    </div>
  }
</div>