@{
  Layout = "_Layout";
}

@using Viewer.Models;
@model List<Viewer.Models.Trait>;

<div class='jumbotron'>
 <h1>Traits</h1>
</div>
<div>
  <div class='entryLabel'>
    <h2>
      Index
    </h2> 
  </div>
  <div class='entry'>
    @if (@Model.Count == 0)
    {
      <h3>No Traits have been added yet!</h3>
    } 

    @foreach (Trait Trait in Model)
    {
      <li>@Html.ActionLink($"{Trait.Name}", "Details", new { id = Trait.TraitId })</li>
    }
    
    @if(User.Identity.IsAuthenticated)
    {
      <p>@Html.ActionLink("Add new Trait", "Create")</p>
    }
        <li>Page: @ViewBag.page</li>
         <p>@Html.ActionLink("Back a Page", "Index", "Traits", new{page = ViewBag.page - 1})</p>
         
         <p>@Html.ActionLink("1", "Index", "Traits", new{page = ViewBag.page, pageCount = 1 })</p>
         
         <p>@Html.ActionLink("2", "Index", "Traits", new{page = ViewBag.page, pageCount = 2})</p>
         
         <p>@Html.ActionLink("3", "Index", "Traits", new{page = ViewBag.page, pageCount = 3})</p>
         <p>@Html.ActionLink("Next Page", "Index", "Traits", new{page = ViewBag.page + 1})</p>
  </div>
</div>
