@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.City

<div>

  <div class='entryLabel'>
    <h4>Add a new City</h4>
  </div>
  <div class='entry'>
    @using (Html.BeginForm())
    {
      <p style="font-weight:bold">
        @Html.HiddenFor(model => model.CityId)
      </p>
      <p style="font-weight:bold">
        @Html.LabelFor(model => model.Name)
      </p>
      <p style="font-weight:bold">
        @Html.TextBoxFor(model => model.Name, new{@required = "required"})
      </p>
      <p style="font-weight:bold">
        @Html.LabelFor(model => model.ZipCode)
      </p>
      <p style="font-weight:bold">
        @Html.TextBoxFor(model => model.ZipCode, new{@required = "required"})
      </p>
      <input type="submit" value="Add new City"/>
    }
  </div>
</div>
<p>@Html.ActionLink("Show all Cities", "Index")</p>