@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Solution.Models.City

<div>

  <div class='entryLabel'>
    <h4>Add a new City</h4>
  </div>
  <div class='entry'>

    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new{@required = "required"})
      @Html.LabelFor(model=>model.Might)
      @Html.EditorFor(model=>model.Might)
      @Html.LabelFor(model=>model.Spryness)
      @Html.EditorFor(model=>model.Spryness)
      @Html.LabelFor(model=>model.Judgement)
      @Html.EditorFor(model=>model.Judgement)
      @Html.LabelFor(model=>model.Echo)
      @Html.EditorFor(model=>model.Echo)
      @Html.LabelFor(model=>model.Magnetism)
      @Html.EditorFor(model=>model.Magnetism)
      @Html.LabelFor(model=>model.Fortune)
      @Html.EditorFor(model=>model.Fortune)
      <input type="submit" value="Add new City"/>
    }
  </div>
</div>
<p>@Html.ActionLink("Show all Citys", "Index")</p>