@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.City

<div>
  <div class='entryLabel'>
    <h2>
      Delete
    </h2>
  </div>
  <div class="entry">
    <h2>
      Are you sure you want to delete this?
    </h2>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }
      @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      City Links
    </div>
    <div class='property'>
      <p>
        @Html.ActionLink("Back to Cities", "Index")
      </p>
      <p>
        @Html.ActionLink("Details of City", "Details", new { id = Model.CityId })
      </p>
      <p>
        @Html.ActionLink("Edit City", "Edit", new { id = Model.CityId })
      </p>
    </div>
  }
  </div>
</div>
