@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.City;

<div class='jumbotron'>
  <h2>City Details</h2>
</div>

<div class="">
  <div class='entryLabel'>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  </div>
        @Html.LabelFor(model => model.Name)
        @Html.ValueFor(model=>model.Name)
</div>
  @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      City Links
    </div>

    <div class='property'>
      <p>@Html.ActionLink("Back to Cities", "Index")</p>
      <p>@Html.ActionLink("Edit City", "Edit", new { id = Model.CityId })</p>
      <p>@Html.ActionLink("Delete City", "Delete", new { id = Model.CityId })</p>
    </div>
  }
</div>