@{
  Layout = "_Layout";
}

@using LocalLookupMVC.Models;
@model LocalLookupMVC.Models.Business;

<div class='jumbotron'>
  <h2>
    Business Details
  </h2>
</div>
<div class="">
  <div class='entryLabel'>
    <p>
      @Html.DisplayNameFor(model => model.Name) @Html.DisplayFor(model => model.Name)
    </p>
  </div>
      <div class=' entry'>
        <div class='container'>
            <p style="font-weight:bold" class='propertyLabel'>
              @Html.LabelFor(model => model.CityId)
          </p>
          <p class='property' style="">
            @Html.ValueFor(model=>model.CityId)
          </p>
            <p style="font-weight:bold" class='propertyLabel'>
              @Html.LabelFor(model => model.Name)
            </p>
          <p class='property' style="">
            @Html.ValueFor(model=>model.Name)
          </p>
            <p style="font-weight:bold" class='propertyLabel'>
              @Html.LabelFor(model => model.Address):
            </p>
          <p class='property' style="">
          @Html.ValueFor(model=>model.Address)
          </p>
          <p>
          </p>
            <p>
              @if(Model.City.Name == "I AM ERROR")
              {
                <p>
                  No city assigned.
                </p>
              }
              else
              {
                <p>
                 <div class='propertyLabel' style="font-weight:bold">City</div> <div class='property'> @Model.City.Name</div>
                 <div class='propertyLabel' style="font-weight:bold">ZIP</div> <div class='property'> @Model.City.ZipCode</div>
                </p>
              }
            </p>
            <p class='propertyLabel'>
            @Html.LabelFor(model=>model.PhoneNumber)
            </p>
          <p class='property'>
            @Html.ValueFor(model=>model.PhoneNumber)
          </p>
          <p style="font-weight:bold" class='propertyLabel'>
            @Html.LabelFor(model => model.Blurb)
          </p>
          <p class='property'>
            @Html.ValueFor(model=>model.Blurb)
          </p>
        </div>
      <hr />
    </div>
</div>
  @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      Business Links
    </div>
    <div class='property'>
      <p>@Html.ActionLink("Back to Businesses", "Index")</p>
      <p>@Html.ActionLink("Edit Business", "Edit", new { id = Model.BusinessId })</p>
      <p>@Html.ActionLink("Delete City", "Delete", new { id = Model.BusinessId })</p>
    </div>
  }
</div>