@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.City;

<div class='jumbotron'>
  <h2>City Details</h2>
</div>

<div class="">
  <div class='entryLabel'>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  </div>
        @Html.LabelFor(model => model.Name)
        @Html.ValueFor(model=>model.Name)
  <table>
      <tr>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Might)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Spryness)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Judgement)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Echo)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Magnetism)</td>
          <td style="border:1px solid black">@Html.LabelFor(model=>model.Fortune)</td>
      </tr>
      <tr>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Might)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Spryness)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Judgement)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Echo)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Magnetism)</td>
        <td style="border:1px solid black">@Html.ValueFor(model=>model.Fortune)</td>
      </tr>
  </table>
  <div class=' entry'>
    <hr />
    @if(@Model.Businesses.Count == 0)
    {
      <p>This City is not used yet :(</p>
    }
    else
    {
      <h4>Businesses with this city:</h4>
      <ul>
        @foreach(var join in Model.Businesses)
        {
          <li>@Html.ActionLink($"{join.Business.Name}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Might}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Spryness}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Judgement}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Echo}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Magnetism}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Fortune}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Bio}", "Details", "Businesses", new {id=join.BusinessId})</li>
          <li>@Html.ActionLink($"{join.Business.Name}", "Details", "Businesses", new {id=join.BusinessId})</li>
        }
      </ul>
    }
  </div>
</div>
  @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      City Links
    </div>

    <div class='property'>
      <p>@Html.ActionLink("Back to Cities", "Index")</p>
      <p>@Html.ActionLink("Edit City", "Edit", new { id = Model.CityId })</p>
      <p>@Html.ActionLink("Delete City", "Delete", new { id = Model.CityId })</p>
    </div>
  }
</div>