@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.Business

<div>
  <div class='entryLabel'>
    <h2>
      Edit this Business: @Html.DisplayFor(model => model.Name)
    </h2>
  </div>
  <div class='entry'>
    @using (Html.BeginForm())
    {
        <p>@Html.HiddenFor(model =>model.BusinessId)</p>
        <p style="font-weight:bold">@Html.LabelFor(model => model.Name)</p>
        <p>@Html.EditorFor(model=>model.Name, new{htmlAttributes = new{@required = "required"}})</p>
        <p style="font-weight:bold">@Html.LabelFor(model => model.Address)</p>
        <p>@Html.EditorFor(model=>model.Address, new{htmlAttributes = new{@required = "required"}})</p>
        <p style="font-weight:bold">@Html.LabelFor(model => model.PhoneNumber)</p>
        <p>@Html.EditorFor(model=>model.PhoneNumber, new{htmlAttributes = new{@required = "required"}})</p>
        <p style="font-weight:bold">@Html.LabelFor(model => model.Blurb)</p>
        <p>@Html.EditorFor(model=>model.Blurb, new{htmlAttributes = new{@required = "required"}})</p>
        <p style="font-weight:bold">@Html.LabelFor(model=> model.City)</p>
        <p>@Html.DropDownList("CityId")</p>
      <input type="submit" value="Save" />
    }

  </div>
</div>