@{
  Layout = "_Layout";
}

@model LocalLookupMVC.Models.Business

<div>
  <div class='entryLabel'>
    <h2>Edit this City: @Html.DisplayFor(model => model.Name)
    </h2>
  </div>
  <div class='entry'>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model =>model.BusinessId)
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model=>model.Name, new{htmlAttributes = new{  @required = "required"}})
        @Html.LabelFor(model => model.Address)
        @Html.EditorFor(model=>model.Address, new{htmlAttributes = new{  @required = "required"}})
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.EditorFor(model=>model.PhoneNumber, new{htmlAttributes = new{  @required = "required"}})
        @Html.LabelFor(model => model.Blurb)
        @Html.EditorFor(model=>model.Blurb, new{htmlAttributes = new{  @required = "required"}})
        @Html.DropDownList("CityId")        
      <input type="submit" value="Save" />
    }

  </div>
</div>