@{
  Layout = "_Layout";
}

@using LocalLookupMVC.Models;
@model List<LocalLookupMVC.Models.Business>;

<div class='jumbotron'>
 <h1>Businesses</h1>
</div>
<div>
  <div class='entryLabel'>
    <h2>
      Index
    </h2> 
  </div>
  <div class='entry'>
    
    @if (@Model == null)
    {
      <h3>No Businesses have been added yet!</h3>
    } 
    else{

      @foreach (Business Business in Model)
      {
        <li>@Html.ActionLink($"{Business.Name}", "Details", new { id = Business.BusinessId })</li>
      }
    
    }
    @if(User.Identity.IsAuthenticated)
    {
      <p>@Html.ActionLink("Add new Business", "Create")</p>
    }
        <li>Page: @ViewBag.page</li>
         <p>@Html.ActionLink("Back a Page", "Index", "Businesses", new{page = ViewBag.page - 1})</p>
         
         <p>@Html.ActionLink("1", "Index", "Businesses", new{page = ViewBag.page, pageCount = 1 })</p>
         
         <p>@Html.ActionLink("2", "Index", "Businesses", new{page = ViewBag.page, pageCount = 2})</p>
         
         <p>@Html.ActionLink("3", "Index", "Businesses", new{page = ViewBag.page, pageCount = 3})</p>

         <p>@Html.ActionLink("Next Page", "Index", "Businesses", new{page = ViewBag.page + 1})</p>
  </div>
</div>
