@{
  Layout = "_Layout";
}

@using LocalLookupMVC.Models;
@model List<LocalLookupMVC.Models.Business>;
  
<div class='jumbotron'>
 <h1>
   Businesses
 </h1>
</div>
<div>
  <div class='entryLabel'>
    <h2>
      Index
    </h2> 
  </div>
  <div class='entry'>
  @if (@Model == null)
  {
    <h3>
      No Businesses have been added yet!
    </h3>
  }
  else{
    @foreach (Business Business in Model)
    {
      <hr/>
      <p>
          <p class='propertyLabel'>
            ID: #@Business.BusinessId  
          </p> 
        <div class='property'>
          Name: @Html.ActionLink($"{Business.Name}", "Details","Businesses", new { id = Business.BusinessId })
        </div>
      </p>
    }
  }
    @if(User.Identity.IsAuthenticated)
    {
      @Html.ActionLink("Add new Business", "Create")
    }
    <p class='propertyLabel'>
      Page: @ViewBag.page
    </p>  
  <div class='property'>
    <p>
      @Html.ActionLink("Back a Page", "Index", "Businesses", new{page = ViewBag.page - 1})
    </p>
    <p>
      @Html.ActionLink("5", "Index", "Businesses", new{page = ViewBag.page, pageCount = 5})
    </p>
    <p>
      @Html.ActionLink("10", "Index", "Businesses", new{page = ViewBag.page, pageCount = 10})
    </p>
    <p>
      @Html.ActionLink("100", "Index", "Businesses", new{page = ViewBag.page, pageCount = 100})
    </p>
    <p>
      @Html.ActionLink("Next Page", "Index", "Businesses", new{page = ViewBag.page + 1})
    </p>
    </p>
  </div>
</div>
