@{
  Layout = "_Layout";
}

@model Viewer.Models.Character
<div>
  <div class='entryLabel'>
    <h2>Add a Trait</h2>
    <h4>Add a Trait to this Character: @Html.DisplayFor(model => model.Name)</h4>
  </div>
  <div class='entry'>
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.CharacterId)
        @Html.HiddenFor(model => model.Name)
        @Html.Label("Select Trait")
        @Html.DropDownList("TraitId")
        <input type="submit" value="Save" />
      }
  </div>
</div>
