@{
  Layout = "_Layout";
}

@model Viewer.Models.Character
<div>

  <div class='entryLabel'>
    <h4>Add a new Character</h4>
  </div>

  <div class='entry'>
    @using (Html.BeginForm())
    {

      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new{@required = "required"})
        <table>
      <tr>
          <th style="width:100px">@Html.LabelFor(model=>model.Might)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Spryness)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Judgement)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Echo)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Magnetism)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Fortune)</th>
          <th style="width:100px">@Html.LabelFor(model=>model.Bio)</th>
      </tr>
      <tr>

        <td>@Html.EditorFor(model=>model.Might)</td>
        <td>@Html.EditorFor(model=>model.Spryness)</td>
        <td>@Html.EditorFor(model=>model.Judgement)</td>
        <td>@Html.EditorFor(model=>model.Echo)</td>
        <td>@Html.EditorFor(model=>model.Magnetism)</td>
        <td>@Html.EditorFor(model=>model.Fortune)</td>
        <td>@Html.EditorFor(model=>model.Bio)</td>
      </tr>
        </table>
      <input type="submit" value="Add new Character" class="btn btn-default" />
    }
  </div>
</div>