@{
  Layout = "_Layout";
}

@model Viewer.Models.Character

<div>
  <div class="entryLabel">
  <h2>Character Details</h2>
</div>
  
<div class='entry'>
  <hr />
  <h3>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
  </h3>
  @if(@Model.Traits.Count == 0)
  {
    <p>This Character does not belong to any Traits</p>
  }
  else
  {
    <h4>Traits the Character belongs to:</h4>
    <ul>
    @foreach(var join in Model.Traits)
    {
      <li>@join.Trait.Name</li>
      @using (Html.BeginForm("DeleteTrait", "Characters"))
      {
        @Html.Hidden("joinId", @join.CharacterTraitId)
        if(User.Identity.IsAuthenticated)
        {
          <input type="submit" value="Delete" />
        }
      }
    }
    </ul>
  }
</div>

<div>
    @if(User.Identity.IsAuthenticated)
    {
      <div class='propertyLabel entryLabel'>
        Do something to this Character:
      </div>
      <div class='property' style="height: auto;">
        <div>
          <p>@Html.ActionLink("Add a Trait", "AddTrait", new { id = Model.CharacterId })</p>
          <p>@Html.ActionLink("Delete Character", "Delete", new { id = Model.CharacterId })</p>
          <p>@Html.ActionLink("Edit Character", "Edit", new { id = Model.CharacterId })</p>
        </div>
      </div>
    }
</div>